# Antlr
ksql-parser/src/main/antlr4/io/confluent/ksql/parser/*.class
ksql-parser/src/main/antlr4/io/confluent/ksql/parser/*.java
ksql-parser/src/main/antlr4/io/confluent/ksql/parser/*.tokens
ksql-parser/src/main/antlr4/io/confluent/ksql/parser/*.interp

# Build products
target/
docs/_build/
dist/

# IntelliJ data
*.iml
*.iws
*.ipr
.idea/

# Other
.DS_Store
.dumbjump
*classes
*~
*#
.#*
.classpath
/.metadata
.project
.settings
.tern-port
ui/
